<div class="login-wrapper">
  <mat-card class="login-card">
    <h1 class="login-title">Enter  your email to get new  password </h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

     
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" placeholder="you@example.com">
        <mat-error *ngIf="email?.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="email?.hasError('email') && !email?.hasError('required')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>



      

     
      <button
        mat-raised-button
        color="primary"
        class="full-width"
        type="submit"
        [disabled]="form.invalid"
      >
        Reset 
      </button>

    </form>





  </mat-card>
</div>
