<nz-layout class="layout">
  <!-- HEADER -->
  <nz-header class="navbar" nzTitle="header">
    <div class="logo"><a routerLink="/" fragment="footer"> Amazon </a></div>

    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="menu">
      <li nz-menu-item routerLink="/login">Login</li>
      <li nz-menu-item routerLink="/register">Register</li>
      <li nz-menu-item routerLink="/forgot">Forgot Password</li>
      <li
        nz-menu-item
        nz-dropdown
        [nzDropdownMenu]="productsMenu"
        nzPlacement="bottomRight"
      >
        Products
      </li>

      <li nz-menu-item>
        <nz-badge [nzCount]="99999" style="margin-right: 24px">
          <nz-avatar nzIcon="user" nzShape="square"></nz-avatar>
        </nz-badge>
      </li>
    </ul>
  </nz-header>

  <!-- CONTENT -->
  <nz-content class="content">
    <router-outlet></router-outlet>
  </nz-content>

  <!-- FOOTER -->
  <nz-footer class="footer" id="footer">
    Ant Design ©{{ date.getFullYear() }} Implemented by Angular
  </nz-footer>
</nz-layout>

<!-- Products Dropdown -->
<nz-dropdown-menu #productsMenu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item routerLink="">All Products</li>
    <li nz-menu-item routerLink="/addproduct">Add Product</li>
  </ul>
</nz-dropdown-menu>
