.layout {
  min-height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-right: 30px;
  margin-top: 0px;
  margin-left: 30px;
}

.menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.content {
  padding: 24px;
  background: #f5f7fa;
}

.footer {
  text-align: center;
}
