<!--  <h2> HEllo WORLD </h2>-->


<!-- <app-demo></app-demo> -->


<!--  <app-formcontrol></app-formcontrol>

<mat-slide-toggle>Toggle me!</mat-slide-toggle>  --> 

<!-- <app-register></app-register>
<app-login></app-login>
<app-forgotpassword></app-forgotpassword> -->


<!--<app-parent> </app-parent> -->

<!--<app-productcard></app-productcard> -->

<app-header></app-header>
<!-- <h1>Angular Router App</h1>
This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule
<nav>
  <ul>
    <li><a routerLink="/login" routerLinkActive="active">Login Page </a></li>
    <li><a routerLink="/register" routerLinkActive="active">Register Page</a></li>
    <li><a routerLink="/forgot" routerLinkActive="active"> Forgot Page </a></li>
    
    <li><a routerLink="/product" routerLinkActive="active">Products Page </a></li>
  </ul>
</nav>
 The routed views render in the <router-outlet>-->
<router-outlet></router-outlet> 

<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-..."
  crossorigin="anonymous"
/>