.review {
    border: 1px solid #eee;
    padding: .75rem;
    margin-bottom: .5rem;
    border-radius: 6px;

    .header {
        display: flex;
        justify-content: space-between;
    }

    .rating {
        font-weight: 600;
        margin-top: .25rem;
    }
}

.count {
        padding-left: 8px;
        cursor: auto;
      }
      .ant-comment-rtl .count {
        padding-right: 8px;
        padding-left: 0;
      }


.reviewcard{
    border: 1px solid black;
    padding: .75rem;
    margin-bottom: .5rem;
    border-radius: 6px;
}