<div class="reviewcard">
<nz-comment
  [nzAuthor]="review.reviewerName || 'Anonymous'"
  [nzDatetime]="formatDate(review.date)"
>
  <nz-avatar
    nz-comment-avatar
    nzIcon="user"
    nzSrc="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIf4R5qPKHPNMyAqV-FjS_OTBB8pfUV29Phg"

  ></nz-avatar>



  <nz-comment-content>
    <p>
      {{ review.comment }}
    </p>

    <nz-rate
      [ngModel]="review.rating"
      nzDisabled
    ></nz-rate>
    Rating : {{ review.rating }}
  </nz-comment-content>
<!--
  <nz-comment-action>
    <nz-icon
      nz-tooltip
      nzTooltipTitle="Like"
      nzType="like"
      
      (click)="like()"
    ></nz-icon>
    <span class="count like">{{ likes }}</span>
  </nz-comment-action>

  <nz-comment-action>
    <nz-icon
      nz-tooltip
      nzTooltipTitle="Dislike"
      nzType="dislike"
      
      (click)="dislike()"
    ></nz-icon>
    <span class="count dislike">{{ dislikes }}</span>
  </nz-comment-action> -->

</nz-comment>

</div>